venv/

**/generated/ 
**/__pycache__/
**/.vscode/
**/.env
metrics_data/
/debug_subtitles*
@debug_subtitles_**/
/scripts/
/youtube_cookies.txt
/youtube_cookies_compressed.txt
/youtube_cookies_decompressed.txt
